.Weather {
  border: 1px solid #dadde1;
  padding: 20px;
  border-radius: 6px;
  background: #bae8e8be;
}

.Weather h1 {
  color: #39a2db;
  font-size: 44px;
  font-weight: 600;
  line-height: 50px;
  margin: 20px 0 0 0;
  text-align: center;
}

.btn-primary {
  background-color: #39a2db;
  border-color: #39a2db;
  border: 2px solid #39a2db;
  border-radius: 5px;
}

.Weather li {
  list-style: none;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  padding: 0;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 50px;
  line-height: 64px;
  margin-left: 10px;
  font-weight: 400;
}

.Weather .unit {
  position: relative;
  font-size: 20px;
  top: -18px;
  margin-left: 4px;
}

.Weather img {
  height: 64px;
  margin-right: 15px;
}
